.card {
  border: 0 !important;

  h2 {
    font-size: 1.5rem;
    color: #faa4b7;
    padding-top: 1.5rem;
    line-height: 1.3;

    @include responsive(tablet-portrait) {
      // font-size: 1.5625rem;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 48.0625em) {
  .card {
    p {
      padding-right: .9375rem;
    }
  }
}
