.lifestyle-tips {
  @include responsive(phone) {
    padding: 0 !important;
  }

  .text-center {
    font-weight: 700;
    margin: 3.4rem 0;
    color: #994789;

    @include responsive(phone) {
      margin: 25px;
    }
  }

  .carousel {
    margin-bottom: 4.5rem;
  }

  .tab-heading {
    @include responsive(phone) {
      margin-top: 1rem;
      text-align: center;
      padding: 0 2rem;
    }
  }

  .tab-text {
    @include responsive(phone) {
      padding-right: 0;
      text-align: center;
      padding: 0 1.5rem;
      padding-bottom: 15px;
    }
  }
}