@mixin responsive($device) {
  @if ($device == large-desktop) {
    @media (min-width: 112.5em) { @content };
  }

  @else if ($device == tablet-landscape) {
    @media (max-width: 75em) { @content };
  }

  @else if ($device == tablet-portrait) {
    @media (max-width: 56.25em) { @content };
  }

  @else if ($device == phone) {
    @media (max-width: 37.5em) { @content };
  }

  @else if ($device == medium-phone) {
    @media (max-width: 25em) { @content };
  }

  @else if ($device == small-phone) {
    @media (max-width: 21.875em) { @content };
  }
}

@mixin adjust_font_size($size) {
  font-size: set_font_size($size)
}

@mixin position_box($top, $left) {
  top: $top;
  left: $left
}
