/*
** staging site: $path: '/roche';
** localhost & live: $path: '';
*/
$path: '/roche';

/*
** COLORS
*/

// primary
$primary-dark: #994789;
$primary-medium: #faa4b7;
$primary-light: #fceef1;

$color-white: #fff;
