@keyframes moveDown {
  0% {
    transform: translateY(-6.25rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translate(0px, .3125rem); 
  }

  100% {
    transform: translate(0px, -.9375rem);
  }
}